<div class="cover">

  <div id="menu">
      <ul id="sub">
        <li><a href="#">Home</a></li>
        <li><a routerLink= "/register">Register</a></li>
        <li><a routerLink= "/login">Login</a></li>
        <li><a routerLink= "/contact-us">Contact us</a></li>
        <li><a href="_blank">Location</a></li>
        <li><a href="_blank">Gallery</a></li>
        <li><a routerLink="/booking">Make a booking</a></li> 
      </ul>
  </div>

  <div class="page" >
      <div id="Register"></div>
        <div id="registerBox">
            <h1 style="color: tomato">Register Here</h1>
            <form>
              <p>Name</p><input type="text" placeholder="Enter your name">
              <p>Surname</p><input type="text" placeholder="Enter your surname">
              <p>E-mail</p><input type="text" placeholder="Enter your email adrress"><br>
              <p>
              <label>Cell number<br></label><br>
                <select style="height: 45px">
                  <option>+27</option>
                  <option>+28</option>
                  <option>+29</option>
                  <option>+30</option>
                </select>
                <input type="tel" placeholder="Enter your Cell number" style="width: 100px" style="height:40px;"></p>
              
              <p>Password</p><input type="text" placeholder="Enter your password">
              <p>Confirm password</p><input type="text" placeholder="Confirm password">
    
              
              <p><input type="button" value="Register" style="background-color: skyblue"></p>
              <!-- <p><a RouterLink="/Login" href="/login"> Login</a></p> -->
            </form>
        </div>
  </div>
    
</div>


