<div class="cover">
  
  <div id="menu">
      <ul id="sub">
        <li><a href="#">Home</a></li>
        <li><a routerLink= "/register">Register</a></li>
        <li><a routerLink= "/login">Login</a></li>
        <li><a routerLink= "/contact-us">Contact us</a></li>
        <li><a href="_blank">Location</a></li>
        <li><a href="_blank">Gallery</a></li>
        <li><a routerLink="/booking">Make a booking</a></li> 
      </ul>
  </div>

  <div class="contact-us">
    <h1>Contact Us</h1>
    <form>
      <div class="form-group">
          <label class="label-form">Name:</label>
          <input type="text" name="name" class="input-form" placeholder="Enter your full name">
      </div>
       <div class="form-group">
          <label class="label-form">E-mail:</label> 
          <input type="email" name="email" class="input-form" placeholder="Enter email address">
       </div>
      <div class="form-group">
        <label class="label-form">Message:</label>
        <textarea cols="25" rows="10" name="message" class="input-form" placeholder="Please enter message"></textarea>
        </div>
        <div class="form-group">
            <input type="button" value="Send" style="color: blue ">
        </div>
        
    </form>

  </div>
</div>


