<div class="container">
  

  <div class="heading"><h1>LIFE STYLE HOTEL</h1></div>
  
  
  <div id="menu">
      <ul id="sub">
        <li><a href="#">Home</a></li>
        <li><a routerLink= "/register">Register</a></li>
        <li><a routerLink= "/login">Login</a></li>
        <li><a routerLink= "/contact-us">Contact us</a></li>
        <li><a href="_blank">Location</a></li>
        <li><a href="_blank">Gallery</a></li>
        <li><a routerLink="/booking">Make a booking</a></li> 
      </ul>
  </div>
  
</div> 