
<div class="cover">
  
  <div id="menu">
      <ul id="sub">
        <li><a href="#">Home</a></li>
        <li><a routerLink= "/register">Register</a></li>
        <li><a routerLink= "/login">Login</a></li>
        <li><a routerLink= "/contact-us">Contact us</a></li>
        <li><a href="_blank">Location</a></li>
        <li><a href="_blank">Gallery</a></li>
        <li><a routerLink="/booking">Make a booking</a></li> 
      </ul>
  </div>

  <div class="page" >
      <div id="login"></div>
        <div id="loginBox">
            <h1 style="color: tomato">Login</h1>
            <form>
              <p>Username</p><input type="text" placeholder="Enter your username">
              <p>Password</p><input type="text" placeholder="Enter your password">
    
              <p><input type="button" value="Login" style="background-color: skyblue"></p>
              <!-- <p><a RouterLink="/Register" href="/register">Register</a></p> -->
              <a href="#">Reset Password</a>
            </form>
        </div>
      </div>
</div>   